/**
 * Account
 * -----------------------------------------------------------------------------
 */

// 変数
// -------------------------------------- 

// Account
// -------------------------------------- 
.Account {
  &:not(:first-child) {
    margin-top: 50px;
  }

  &__content {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  &__title {
    text-align: center;
    font-size: 24px;
  }

  &__form {
  }

  &__item {
    display: flex;
    align-items: center;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__label {
    display: inline-block;
    width: 100px;
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__input {
    margin-left: 10px;
    width: 100%;
  }

  &__button {
    width: 100px;
    height: 30px;
    display: block;
    margin: 20px auto 0;
    background-color: #CC6699;
    color: #fff;
    transition: all 200ms ease;

    &:hover {
      color: #CC6699;
      background-color: #fff;
      border: 1px solid #CC6699;
    }
  }
}


// Logout
// -------------------------------------- 
.Logout {
  position: absolute;
  top: 0;
  right: 30px;
  width: 100px;
  height: 30px;
  display: block;
  margin: 20px auto 0;
  background-color: #CC6699;
  color: #fff;
  transition: all 200ms ease;

  &:hover {
    color: #CC6699;
    background-color: #fff;
    border: 1px solid #CC6699;
  }
}