/**
 * Basic : Styles for Tags
 * -----------------------------------------------------------------------------
 */

noscript p {
  font-size: 20px;
  line-height: 1.5;
  color: red;
}

/*-------------------------------------------------
	Base
-------------------------------------------------*/
html,
body {
  min-height: 100%;
}

body {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-feature-setting: 'palt';
  position: relative;
}

.clearfix:after {
  height: 0;
  visibility: hidden;
  content: '.';
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.clearfix {
  _height: 1px;
  min-height: 1px;
  /*・･*/
  /*/
height: auto;
overflow: hidden;
/**/
}

.show_pc {
  display: block;
  @include media(tb) {
    display: none;
  }
  @include media(sp) {
    display: none;
  }
}
.show_pctb {
  display: block;
  @include media(tb) {
    display: block;
  }
  @include media(sp) {
    display: none;
  }
}
.show_pctb_inline {
  display: inline;
  @include media(tb) {
    display: inline;
  }
  @include media(sp) {
    display: none;
  }
}
.show_tbsp {
  display: none;
  @include media(tb) {
    display: block;
  }
  @include media(sp) {
    display: block;
  }
}
.show_tb {
  display: none;
  @include media(tb) {
    display: block;
  }
  @include media(sp) {
    display: none;
  }
}
.show_tb_inline {
  display: none;
  @include media(tb) {
    display: inline;
  }
  @include media(sp) {
    display: none;
  }
}
.show_sp {
  display: none;
  @include media(tb) {
    display: none;
  }
  @include media(sp) {
    display: block;
  }
}
.show_sp_inline {
  display: none;
  @include media(tb) {
    display: none;
  }
  @include media(sp) {
    display: inline;
  }
}

/*----- フェードインしながら上へスライド -----*/
.fadeinup {
  opacity: 0;
  transform: translate(0, 60px);
  transition: 1000ms ease;
  @include media(sp){
    transform: translate(0, 40px);
  }
}
.fadeInUp {
  opacity: 1.0;
  transform: translate(0, 0);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  background: $selectionColor;
}

::-moz-selection {
  background: $selectionColor;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;
}

input,
textarea {
  background-color: $focusColor;
  &:focus {
    background-color: $focusColor;
  }
}

a {
  color: $linkColor;
  text-decoration: none;
  transition: opacity 500ms;
  &:visited {
    color: $textColor;
  }
  @include media_min(sp) {
    &:hover {
      // color: $linkColorH;
      opacity: 0.5;
    }
  }
}

//chromeぼやけるの防止
img {
  -webkit-backface-visibility: hidden;
}

button,
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

/* original select */
label.original_select,
label.original_select * {
  font-family: YakuHanJP, sans-serif;
}
/* labelタグのスタイル */
label.original_select {
  position: relative;
  display: inline-block;
  background: #fff;
  font-size: 1em;
  overflow: hidden;
  z-index: 0;
  border: solid 1px #e8e8e8;
  border-radius: 26px;
}
/* 下三角の表示 */
label.original_select:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: 17px;
  margin-top: -0.2em;
  border-width: 0.45em 0.3em;
  border-style: solid;
  border-color: #cdcdcd transparent transparent;
  z-index: -1;
}
/* selectタグのスタイル */
label.original_select select {
  width: 94%;
  height: auto;
  box-sizing: border-box;
  appearance: none;
  padding: 0.4em 3em 0.4em 1.5em;
  margin: 0;
  color: #727272;
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 1em;
  outline: none;
}

/* selectタグ選択中のスタイル */
label.original_select select:focus {
}
/* IEの下三角非表示 */
label.original_select select::-ms-expand {
  display: none;
}
/* Firefoxの点線非表示 */
label.original_select select::-moz-focus-inner {
  border: 0;
}
/* 表示されるオプションスタイル */
label.original_select select * {
  background: #fff;
  color: #727272;
  text-shadow: none;
}
