/**
 * Mixin
 * -----------------------------------------------------------------------------
 */

// -----------------------------------------
// Media Query
// -----------------------------------------
$bp-tb: 1100px;
$bp-sp: 768px;

@mixin media($media-width) {
  @if $media-width == sp {
    @media only screen and (max-width: $bp-sp) {
      @content;
    }
  } @else if $media-width == tb {
    @media only screen and (max-width: $bp-tb) {
      @content;
    }
  } @else if $media-width == tbonly {
    @media only screen and (min-width: $bp-sp + 1px) and (max-width: $bp-tb) {
      @content;
    }
  }
}

@mixin media_minmax($min, $max) {
  @if $min==sp {
    @media screen and (min-width: $bp-sp+1) and (max-width: $max) {
      @content;
    }
  } @else if $min==tb {
    @media screen and (min-width: $bp-tb) and (max-width: $max) {
      @content;
    }
  } @else {
    @media screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}

// min-width
// hoverをPCのみに反映させたい時に使うと便利
$bp-pc_min: 1000px;
$bp-sp_min: 769px;
@mixin media_min($media-width_min) {
  @if $media-width_min==sp {
    @media only screen and (min-width: $bp-sp_min) {
      @content;
    }
  } @else if $media-width_min==pc {
    @media only screen and (min-width: $bp-pc_min) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $media-width_min) {
      @content;
    }
  }
}

// -----------------------------------------
// 縦書き
// -----------------------------------------
@mixin writing_vertical_pcsp {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
@mixin writing_vertical {
  @include media_min(sp) {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
}

// -----------------------------------------
// transition
// -----------------------------------------
//normal
@mixin trans($selector: all, $time: 1s) {
  transition: $selector $time;
}

// for opacity
@mixin transEase($selector: all, $time: 1s) {
  transition: $selector $time cubic-bezier(0.25, 0.1, 0.25, 1);
}

// for translate from bottom
@mixin transEaseInOut($selector: all, $time: 1s) {
  transition: $selector $time cubic-bezier(0, 0.7, 0.3, 1);
}

// for slider opacity
@mixin transEaseInOutSine($selector: all, $time: 1s) {
  transition: $selector $time cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

// for opacity
@mixin transEaseOut($selector: all, $time: 1s) {
  transition: $selector $time ease-out;
}
// for header menu open
@mixin transInOutCubic($selector: all, $time: 1s) {
  transition: $selector $time cubic-bezier(0.5, 0, 0.08, 1);
}
// for zoom
@mixin transOutQuart($selector: all, $time: 1s) {
  transition: $selector $time cubic-bezier(0.075, 0.82, 0.165, 1);
}

// for slider
@mixin transOutCubic($selector: all, $time: 1s) {
  transition: $selector $time cubic-bezier(0.25, 0.1, 0.25, 1);
}
