<template>
 <div class="Account login">
   <h2 class="Account__title">LOGIN</h2>
   <div class="Account__content">
    <form class="Account__form" @submit.prevent>
      <label class="Account__item">
        <span class="Account__label">email</span>
        <input class="Account__input" type="text" v-model="email">
      </label>
      <label class="Account__item">
        <span class="Account__label">password</span>
        <input class="Account__input" type="password" v-model="password">
      </label>
      <button class="Account__button" type="submit" @click="login">Login</button>
    </form>
   </div>
 </div>
</template>

<script lang="ts">
import Vue from 'vue'

interface dataType {
  email: string
  password: string
}

export default Vue.extend({
 data(): dataType {
   return {
     email: '',
     password: '',
   }
 },
 computed: {
   user() {
     return this.$store.getters['user']
   },
 },
 methods : {
   login(email: string, password: string) {
     this.$store.dispatch('login', {email: this.email, password: this.password})
   },
 }
})
</script>