<template>
 <div class="Account -register">
  <h2 class="Account__title">REGISTER</h2>
  <div class="Account__content">
    <form class="Account__form" @submit.prevent>
      <label class="Account__item">
        <span class="Account__label">email</span>
        <input class="Account__input" type="text" v-model="email">
      </label>
      <label class="Account__item">
        <span class="Account__label">password</span>
        <input class="Account__input" type="password" v-model="password">
      </label>
      <button class="Account__button" type="submit" @click="register">Register</button>
    </form>
   </div>
 </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
 computed: {
   user () {
     return this.$store.getters['user']
   },
 },
 data () {
   return {
     email: '',
     password: '',
   }
 },
 methods: {
   register () {
     this.$store.dispatch('register', {email: this.email, password: this.password})
   }
 },
})
</script>