<template>
  <main class="Todo">
    <h1 class="Todo__title">todos</h1>
    <Register v-if="!user.login" />
    <Login v-if="!user.login" />
    <button class="Logout" v-if="user.login" @click.prevent="logout">Logout</button>
    <Todo v-if="user.login" />
  </main>
</template>

<script lang="ts">
import Vue from 'vue'
import Login from '~/components/Login.vue'
import Register from '~/components/Register.vue'
import Todo from '~/components/Todo.vue'
import firebase from '~/plugins/firebase'
import 'firebase/auth';


export default Vue.extend({
 components: {
   Login: Login,
   Register: Register,
   Todo: Todo,
 },
 created () {
  firebase.auth().onAuthStateChanged((user) => {
    if (user) {
      this.$store.commit('switchLogin')
    }
  })
},
 computed: {
   user () {
     return this.$store.getters['user']
   }
 },
 methods: {
   logout () {
     this.$store.commit('switchLogout')
     firebase.auth().signOut()
   }
 }
})
</script>