<template>
  <main class="Todo">
    <h1 class="Todo__title">todos</h1>
    <div class="Todo__contents">
      <div class="Todo__row">
        <div class="Todo__count">
          <span>残り{{remaining}}アイテム</span>
        </div>
        <div class="Todo__status">
          <button v-bind:class="label.value === current ? 'isActive' : ''" class="Todo__statusButton" v-for="label in options" v-bind:data-current="current" v-bind:data-status="label.value" @click="changeState(label.value)">{{label.label}}</button>
        </div>
        <button class="Todo__clear" @click="clearItems()">クリア</button>
      </div>
      <section class="TaskList" v-bind:class="{isDone: item.toggle}" v-for="(item, index) in itemsStatusFilter" :key="index">
        <div class="TaskList__content">
          <div class="TaskList__check">
            <input type="checkbox" v-bind:id="index" checked="checked" v-model="item.toggle" @change="taskRemaining()" />
            <label v-bind:for="index"></label>
          </div>
          <textarea class="TaskList__text" v-model="item.content" rows="4"></textarea>
          <button class="TaskList__removeButton" @click.prevent="removeItems(index)"><span class="inner"></span></button>
        </div>
      </section>
      <button class="Todo__addButton" @click.prevent="addItems"></button>
    </div>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'
import firebase from '@/plugins/firebase'
import { mapMutations } from 'vuex'


interface itemIndex {
  content: string
  toggle: boolean
}

interface optionsIndex {
  value: number
  label: string
}

interface dataType {
  // items: itemIndex[]
  remaining: number
  options: optionsIndex[]
  current: number
}

export default Vue.extend({
  // コンポーネント・ページ自体にクラスを付与
  name: 'Home',
  data(): dataType {
    return {
      // items: [{
      //   content: '[タスク名]\nタスク内容',
      //   toggle: false // trueで完了
      // }],
      remaining: 0,
      options: [
        { value: -1, label: 'すべて' },
        { value: 0,  label: 'アクティブ' },
        { value: 1,  label: '完了' }
      ],
      // 選択している options の value を記憶するためのデータ
      // 初期値を「-1」つまり「すべて」にする
      current: -1
    }
  },
  created() {
    this.$store.commit('todo/setTaskList')
    
    // let todoRef = firebase.database().ref('todo/task');
    let remainingRef = firebase.database().ref('todo/remainingTask');
    let _this = this;

  
    // Firebaseからデータ取得（task）
    // todoRef.on('value', function(snapshot) {
    //   let getData = snapshot.val();

    //   // データがない場合はdata()初期値をFirebase側にも設定
    //   if(getData !== null) {
    //     _this.items = getData;
    //   } else {
    //     todoRef.set(_this.items);
    //   }
    // });

    // Firebaseからデータ取得（remaining）
    remainingRef.on('value', function(snapshot) {
      let getData = snapshot.val();

      // データがない場合はdata()初期値をFirebase側にも設定
      if(getData !== null) {
        _this.remaining = getData;
      } else {
        remainingRef.set(_this.remaining);
      }
    });
  },
  computed: {
    itemList() {
      return this.$store.getters['todo/getList'];
    },
    itemsStatusFilter(): itemIndex[] {
      // データ current が -1 ならすべて
      // それ以外なら current と state が一致するものだけに絞り込む
      const currentStatus:number = this.current
      const items:itemIndex[] = this.$store.getters['todo/getList'];
      // return this.items.filter(function(item, index) {
      return items.filter(function(item, index) {
        return currentStatus < 0 ? true : false
      })
    }
  },
  methods: {
    // 「追加」ボタンでタスク追加
    addItems () {
      // ページ内
      const items:itemIndex[] = this.$store.getters['todo/getList'];
      items.push(this.independentObejct())
      // this.items.push(this.independentObejct())

      // 残タスク計算関数の呼び出し
      this.taskRemaining()
    },
    // 状態変更の処理
    changeState: function(value: number) {
      this.current = value
    },
    // 「削除」ボタンでタスク削除
    removeItems (target: number) {
      const items:itemIndex[] = this.$store.getters['todo/getList'];
      items.splice(target, 1)
      // this.items.splice(target, 1)

      // 残タスク計算関数の呼び出し
      this.taskRemaining()
    },
    // 「クリア」ボタンでタスク削除
    clearItems () {
      this.$store.dispatch('todo/clearItems')
      // this.items = this.items.filter(function(item, index) {
        // return  item.toggle == false
      // })
    },
    // 新規タスクに設定する内容
    independentObejct () {
      return {
        content: '[タスク名]\nタスク内容',
        toggle: false
      }
    },
    // 残タスク計算
    taskRemaining () {
      const items:itemIndex[] = this.$store.getters['todo/getList'];
      this.remaining = items.filter(function(item, index) {
        return  item.toggle == false
      }).length;
    }
  },
  watch: {
    itemList() {
      // 書き込みしたタスク内容をFirebaseに反映
      // handler: function(){
        const items:itemIndex[] = this.$store.getters['todo/getList'];
        let todoRef = firebase.database().ref('todo/task');
        todoRef.set(items);
      // },
      deep: true
    },
    // items: {
    //   // 書き込みしたタスク内容をFirebaseに反映
    //   handler: function(){
    //     let todoRef = firebase.database().ref('todo/task');
    //     todoRef.set(this.items);
    //   },
    //   deep: true
    // },
    remaining: {
      // 書き込みしたタスク内容をFirebaseに反映
      handler: function(){
        let remainingRef = firebase.database().ref('todo/remainingTask');
        remainingRef.set(this.remaining);
      },
      deep: true
    }
  }
})
</script>